<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kami siap menemani segala kebutuhan kamu!</h2>
                <hr class="light">
                <p class="text-faded">Disetirin.id hadir di Kota Medan bagi kamu yang sedang mencari mobil untuk keperluan perjalanan apa pun, entah itu liburan, keperluan dinas, dengan aman, nyaman, terpercaya dan ga ribet!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Pesan Sekarang!</a>
            </div>
        </div>
    </div>
</section>
