<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kami hadir untuk memenuhi kebutuhan kamu!</h2>
                <hr class="light">
                <p class="text-faded">DISETIR.IN hadir di Kota Medan bagi kamu yang sedang mencari mobil untuk keperluan perjalanan apa pun, dengan aman, nyaman, terpercaya dan anti ribet!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Gaskeun!</a>
            </div>
        </div>
    </div>
</section>
